@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is a blogging application</h1>
</div>

@foreach (var item in Model)
{
    <div class="card mt-4">
        <div class="card-header">
            @item.Title
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                @item.Text
            </blockquote>
            <span class="float-right">
                @item.DateCreated
            </span>
        </div>
    </div>

}