@model List<string>

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Category
            </th>
            <th>
                Count
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.CategoryList)
    {
        <tr>
            <td>
                @Html.ActionLink((string)item.Name, "PostByCategory", new { name = item.Name})
            </td>
            <td>
                @item.Count
            </td>
        </tr>
    }
    </tbody>
</table>
